# ch02

## 4절 format

### print

- 포맷팅이란 출력할 문자, 숫자, 날짜 데이터에 형식을 지정
- 변수와 텍스트를 결합해서 보기 좋은 형식의 텍스트를 만들 때 사용

In [3]:
name = "hong"
age = 30
print(name,'is',age,'years old')
print(name,'is',age,'years old', sep='')
print(name+' is '+str(age)+' years old')

hong is 30 years old
hongis30years old
hong is 30 years old

In [4]:
"%s is %d years old"%(name,age)
#%s: 문자열 %c: 문자 %d: 정수 %f: 실수: %x: 16진수 %o8: 8진수 %% 문자%

'hong is 30 years old'

In [6]:
"{0} is {1}years old".format(name, age)

'hong is 30years old'

### format() func

In [ ]:
# 인덱스 : 출력할 인수의 인덱스(순서)
# 정렬방법 : <기호는 왼쪽정렬, >기호는 오른쪽정렬, ^기호는 가운데 정렬
# 자릿수 : 출력할 자릿수 지정. 변수보다 적은 자릿수가 지정될 경우 무시되고 변수가 다 출력.
# 타입 : d는 10진수, f는 실수, s는 문자, b는 2진수, o는 8진수, x는 16진수

In [7]:
#'{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}'.format(변수명)

In [8]:
"{0} is {1}years old {0}".format(name, age)
#인덱스 지정 가능 (인덱스 생략시엔 포맷과 변수 갯수가 일치해야 한다)

'hong is 30years old hong'

In [30]:
# 숫자의 경우 출력할 변수보다 큰 자릿수를 지정하면 오른쪽 정렬(기본값)
# 문자의 경우 출력할 변수보다 큰 자릿수를 지정하면 왼쪽 정렬(기본값)
# 변수보다 작은 자리수를 지정하면 자리수 지정이 무시되고 다 출력
a = 12345
s = "Hello"
print("출력 : [{}], [{:10}], [{:3}]".format(a, a, a))
print("출력 : [{}], [{:10}], [{:3}]".format(s, s, s))

출력 : [12345], [     12345], [12345]
출력 : [Hello], [Hello     ], [Hello]

In [14]:
print("""
정수-{:d} 실수-{:f} 2진수-{:b} 8진수-{:o} 16진수-{:x}
""".format(a,a,a,a,a))

정수-12345 실수-12345.000000 2진수-11000000111001 8진수-30071 16진수-3039

In [17]:
a,b,c = 10,20,30
print("print: [{:>6d}],[{:<6d}],[{:^6d}]".format(a,b,c))

print: [    10],[20    ],[  30  ]

In [19]:
a = 10
s = "hello"
print("print: [{0:$>10d}],[{1:*<20}],[{1:_<10.3}]".format(a,s))
#공백대체문자를 지정할 때는 정렬기호, 자릿수 표현

print: [$$$$$$$$10],[hello***************],[hel_______]

In [47]:
# +를 붙이면 양수의 경우 숫자앞에 부호를 붙여줌
# =를 붙이면 전체 자릿수만큼 출력하는 문자의 맨 앞에 부호 표시(양수는 부호나타나지 않음)
# =+를 사용하면 =도 표시
# 자리수앞에 0을 채우면 빈자리에 0을 채워
# 공백대체문자는 =앞에
# 공백대체문자와 자리수 앞에 0을 붙이는 것을 같이 자리수앞에 0이 무시
  # (공백대체문자와 자리수 앞 0은 공백대체문자가 우선순위가 높음)
a, b = 123, -123
print("출력 : [{:+10}] [{:+10}] [{:+10}]".format(b, a, a))
print("출력 : [{:=10}] [{:=10}] [{:=10}]".format(b, a, a))
print("출력 : [{:=+10}] [{:=+10}] [{:=+10}]".format(b, a, a))
print("출력 : [{:=+10}] [{:=+10}] [{:=+010}]".format(b, a, a))

print("출력 : [{:*=+10}] [{:$=+10}] [{:_=+010}]".format(b, a, a))

출력 : [      -123] [      +123] [      +123]
출력 : [-      123] [       123] [       123]
출력 : [-      123] [+      123] [+      123]
출력 : [-      123] [+      123] [+000000123]
출력 : [-******123] [+$$$$$$123] [+______123]

In [28]:
#자리수
a = 2.785
s = "hello"
print("a = [{:>10.2}]".format(a))
print("s = [{:>10.2}]".format(s))

a = [       2.8]
s = [        he]

In [31]:
#전체 자리수.소수점 자리수
print("a = [{:4.1f}]")

a = [{:4.1f}]

In [43]:
# format함수의 매개변수에 출력포맷
a = 2.785
print("출력 : [0123456789]")
print("출력 : [{:>10.3}]".format(a))
print("출력 : [{:{}{}.{}}]".format(a, '>', 10, 3))

출력 : [0123456789]
출력 : [      2.79]
출력 : [      2.79]

In [42]:
a = 2.785
print("출력 : [0123456789]")
print("출력 : [{:>+10.3}]".format(a))
print("출력 : [{:{}{}{}.{}}]".format(a, '>','+', 10, 3))

출력 : [0123456789]
출력 : [     +2.79]
출력 : [     +2.79]

In [41]:
# 가독성을 높이고자 포맷인자에 이름을 부여
a = 2.785
print("출력 : [0123456789]")
print("출력 : [{:>+10.3}]".format(a))
print("출력 : [{:{dir}{sign}{width}.{precision}}]".format(a, 
                dir='>',sign='+', width=10, precision=3))

출력 : [0123456789]
출력 : [     +2.79]
출력 : [     +2.79]

In [ ]:
a = 15
print("10진수 : [{:8d}]".format(a))
print(" 2진수 : [{:08b}]".format(a))
print(" 8진수 : [{:08o}]".format(a))
print("16진수 : [{:02x}]".format(a))

### 날짜 출력

In [36]:
# %Y는 연도4자리, %y는 연도2자리, %m은 월, %d는 일
# %H는 24시간, %I는 12시간, %p는 PM또는AM, %M은 분, %S는 초를 의미
from time import localtime # time 패키지에서 localtime라는 함수 사용
now = localtime()
now # 현재 날짜와 시간

time.struct_time(tm_year=2021, tm_mon=2, tm_mday=22, tm_hour=11, tm_min=37, tm_sec=10, tm_wday=0, tm_yday=53, tm_isdst=0)

In [37]:
# 날짜를 문자열로 출력하기 위해 format보다 strftime()함수 이용
from time import strftime 
print(strftime("%Y년 %m월 %d일 %H:%M:%S", now))
print(strftime("%Y년 %m월 %d일 %p %I:%M:%S", now))

2021년 02월 22일 11:37:10
2021년 02월 22일 AM 11:37:10

In [39]:
# format함수 이용
from datetime import datetime
thatday = datetime(2021,4,30,18,20,0)
thatday

datetime.datetime(2021, 4, 30, 18, 20)

In [44]:
print("{:%Y - %m - %d %p %I:%M:%S}".format(thatday))

2021 - 04 - 30 PM 06:20:00

## 5절 연산자

### 산술 연산자

In [46]:
a = 10
print(a**3) #제곱
print(a//3) #몫
print(10.0%3.0) #실수끼리 나머지 연산
print(3.8 % 1.2) # 실수끼리 나머지 연산시 결과가 다소 오차가 존재할 수 있음

1000
3
1.0

### 대입 연산자

In [49]:
a = 10
a //= 2 # a = a//2
a

5

### 논리 연산자

In [50]:
print((10>3) & (10>5)) # 논리연산자 True & True
print(12 & 1)          # 비트연산   1100 & 0001
print(5 < 8 < 10 < 100)      # 논리연산자를 삼항, 사항, .. 가능

True
0
True

In [51]:
print(10>3 & 10>5) # 연산자 우선 순위 : 비트연산자가 논리비교연산보다 높다
#        0011 & 1010 = 0010 (2)  
# print(10 > 2 > 5 )

False

In [ ]:
# ''(빈스트링)은 False로 그외는 True
if '':
    print('빈스트링은 True인가')
else:
    print('빈스트링은 False인가')

In [52]:
# 논리연산자에 문자열이 오면 에러
True | ''
True | bool('')

TypeError: unsupported operand type(s) for |: 'bool' and 'str'

In [53]:
not True

False

In [54]:
not 0 # 0은 False. 그 외 숫자는 True

True

In [55]:
not -999

False

In [56]:
a = False
if not a:
    print(a)

False

In [57]:
a, b = 15, 16
if a != b :
    print('두수는 다르다')

두수는 다르다

In [58]:
# and 연산자 : 거짓으로 판별되는 첫번째 항의 결과가 반환
#             모든 항이 참이면 마지막 항의 결과 반환
print(True and 3 and True)

True

In [59]:
# or 연산자 : 참으로 판별되는 첫번째 항의 결과가 반환
#             모든 항이 거짓이면 마지막 항의 결과 반환
print('' or False or None or 0)

0

### 비교 연산자

In [60]:
# 문자는 ASCII 코드 순으로 비교 : 특수문자 < 숫자문자 < 대문자 < 소문자 < 한글
'아' > '하'

False

In [61]:
'1' < 'a'

True

In [62]:
True > False # True는 1로 매핑, False는 0으로 매핑
int(True), int(False)

(1, 0)

In [63]:
bool(0), bool(-9)

(False, True)

In [64]:
jumsu = int(input('점수를 입력하세요 >')) # input함수는 문자로 반환
if jumsu >= 60 :
    print('합격')
else:
    print('불합격')

점수를 입력하세요 >55
불합격

### 비트 연산자

In [65]:
a = ''' 
x  y  x&t  x|y  x^y
0  0   0    0    0
0  1   0    1    1
1  0   0    1    1
1  1   1    1    0
'''

In [68]:
a = 15 # 1111
b = 2 # 0010
print(a&b)
print(a|b)
print(a^b)
print(a >> 2) #shift

2
15
13
3

### instance

In [69]:
isinstance(3.5, float)

True

In [70]:
#EX

In [71]:
#1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
#출력형식 : 홍 길동님의 나이는 23 살 입니다
name = "홍길동"
age = 23
print("{}님의 나이는 {}살입니다".format(name, age))

홍길동님의 나이는 23살입니다

In [72]:
#2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
a = 12
b = 45
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

57
-33
540
0.26666666666666666
0
12

In [76]:
#3.문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello 를 ‘World 로 출력하세요
s = "Hello World"
split = s.split(' ')
print("{} {}".format(split[1], split[0]))

World Hello

In [85]:
#4.x = ' abcdef 를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용
x = "abcdef"
print(x[1:],x[0], sep='')

bcdefa

In [86]:
#5.x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
x = "abcdef"
print(x[::-1])

fedcba

In [88]:
#6.오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 화
#씨 온 도는 소수점 두번째 자리까지 출려되어야 합니다 다음은 섭씨 와 화 씨 의 변환 공
#식입니다 . C 는 섭씨 , F 는 화 씨
c = float(input('섭씨: '))
f = (c*1.8)+32
if c == round(c):
    print("섭씨: {:.0f}, 화씨: {:.2f}".format(c,f))
else:
    print("섭씨: {}, 화씨: {:.2f}".format(c,f))

섭씨: 44
섭씨: 44, 화씨: 111.20